body{
    background-image: url("/assets/images/background.png");
    background-size: cover;
}

tr{
    border-bottom: 1px solid #d9dcf3;
}

table{
   border-left: 2px solid #36304a;
   border-right: 2px solid #36304a;
   border-bottom: 2px solid #36304a;
}
.vio_bg{
    background: #36304a;
    padding-top: 5px;
    padding: 15px;
    max-height: 375px;
}

.vio_bg label, .vio_bg p{
    color: #fff;
    
}

.btn-success.ad_btn{
    background: #fff;
    color: #36304a;
    width: 50%;
    margin: 0 auto;
    border:1px solid #fff;
    margin-bottom: 15px;

}

.table100.ver1 .row100 td.column7 {
    
    padding: 1px;
    line-height: 24px;
    padding-left: 23px;
}
.table100.ver1 .row100 td.column7:hover {
    background-color: inherit;
    color: inherit;
}

.ed{
    /* background: #7365a0; */
    border: 1px solid #7365a0;
    color: #7365a0 !important;
    display: inline-block;
    padding: 2px;
   
    border-radius: 20px;
    text-align: center;
    color: #fff;
    width: 30px;
    margin-top: 3px;
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 15px;
}

.del{
 
   
    border: 1px solid #6c7ae0;
    color: red !important;
    display:inline-block;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    width: 30px;
    padding: 2px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
}